*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin san' ,sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
    grid-template-rows: auto 1fr auto;

}
:root{

}
body{
    background: linear-gradient(204deg, rgba(253, 187, 45, 1) 54%, rgba(34, 193, 195, 1) 67%);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 25px 15%;
    transition-duration: .3s;
}
.navbar{
     display: flex;
     justify-content: space-evenly;
     gap: 1rem;
}
.navbar li{
    position: relative;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
}
.navbar .ab{
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}
.navbar .h-btn{
    border: solid 5px rgb(255, 0, 55) ;
    color: black;
    font-weight:bold;
    border-radius: 100px;
    font-size: 19px;
}
/*----------main-----*/
#main-all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2px;

}
/*---------main1------*/
.main-one{
    height: auto;
width: 50%;
}
.emahe-uno{
    height: 25rem;
    width: 25rem;
    border: solid 10px #fff;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 5rem;
    left: 2rem;
}
.emahe-dos {
    height: 11rem;
    width: 11rem;
    object-fit: cover;
    position: relative;
    border: solid 7px #fff;
    border-radius: 50%;
    left: 26rem;
    bottom: 16rem;
    
}
.emahe-tress{
    height: 11rem;
    width: 11rem;
    object-fit: cover;
    position: relative;
    border: solid 7px #fff;
    border-radius: 50%;
    left: 21rem;
    bottom: 16rem;
}
/*-------main2----*/
.main-two{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
h1{
    
    font-size: 4rem;
    text-shadow: #fff 5px 5px 3px;
    
}
.h-two{
    color: red;
}
p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}


